<div class="container" *ngIf="appointment; else notFound">
  <h1>Confirmar Exclusão</h1>
  <p>
    Tem certeza de que deseja excluir o agendamento de
    <strong>{{ appointment.patientName }}</strong> com
    <strong>{{ appointment.doctorName }}</strong> no dia
    <strong>{{ formattedDate }}</strong> às
    <strong>{{ formattedTime }}</strong>?
  </p>

  <form (ngSubmit)="handleDelete()">
    <button type="submit" class="deleteButton">Excluir</button>
    <button type="button" class="cancelButton" (click)="handleCancel()">
      Cancelar
    </button>
  </form>
</div>

<ng-template #notFound>
  <p>Agendamento não encontrado.</p>
</ng-template>
