<!-- src/app/pages/specialty/edit/edit-specialty.component.html -->

<div class="editSpecialtyContainer" *ngIf="specialty; else notFound">
  <h1>Editar Especialidade</h1>

  <form #form="ngForm" (ngSubmit)="handleSubmit(form)">
    <div class="form-group">
      <label for="specialtyName">Nome da Especialidade:</label>
      <input
        id="specialtyName"
        name="specialtyName"
        type="text"
        [(ngModel)]="name"
        required
      />
      <span class="textDanger" *ngIf="error">{{ error }}</span>
    </div>

    <button type="submit">Salvar Alterações</button>
  </form>

  <button class="btn-secondary" (click)="handleCancel()">Voltar</button>
</div>

<ng-template #notFound>
  <p>Especialidade não encontrada.</p>
  <button (click)="handleCancel()">Voltar</button>
</ng-template>
